
body{
    font-family: Arial, sans-serif;
    background-color: rgb(251, 222, 193);
 }
 h1{
    color: rgb(212, 113, 0);
 }
 form{
    background-color: aliceblue;
    text-align: center;
    max-width: 350px;
    margin: auto;
    margin-top: 1em;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 50px rgb(31, 29, 29);
 }
 #textBox{
   width: 5em;
   font-size: 3em;
   text-align: center;
   margin-bottom: 0.5em;
   border: 2px solid;
   border-radius: 4px;
 }
button{
   font-size: 25px;
   border: none;
   background-color: rgb(236, 93, 93);
   cursor: pointer;
   border-radius: 5px;
   padding: 10px 15px;
   transition: background-color 0.25s;
}
button:hover{
   background-color: rgb(196, 44, 2);
}
#result{
   font-size: 1.5em;
   font-weight: bold;
}